{% extends "base.html" %}

{% block title %}Информация о спортсмене{% endblock title %}

{% block bar-left %}
<div class="title">
  <h1>Информация о спортсмене</h1>
</div>
{% endblock bar-left %}

{% block bar-right %}
<a href="../" class="btn">
  Назад
</a>
{% endblock bar-right %}

{% block content %}
<main>
  <div class="form-wrap">
    <div class="wrap-one">
      <div class="container">

      <div class="row" style="margin-bottom: 2rem;">
        <div class="col-md-12">
          <h2 class="model-detail__title">{{ object.surname }} {{ object.name }} {{ object.patronymic }}</h2>
          <p class="model-detail__field">
            Дата рождения: {{ object.date_of_birth }}
          </p>
          <p class="model-detail__field">
            Спортивное учереждение: {{ object.sports_facility }}
          </p>
          <p class="model-detail__field">
            Тренер: {{ object.coach }}
          </p>
          <p class="model-detail__field">
            Вид спорта: {{ object.sport_type }}
          </p>
        </div>
      </div>

      <div class="row" style="margin-bottom: 1rem;">
        <div class="col-md-12">
          <h2 class="model-detail__title">Первичные обследования:</h2>
          <a class="model-detail__add" href="primary/">Добавить обследование <i class="fas fa-plus"></i></a>
          <ul class="model-detail__ul">
          {% for i in primary %}
            <li>
              <a href="#">
                <h3>{{ i.stage }} - {{ i.date }}</h3>
              </a>
            </li>
          {% empty %}
            <h3>Нет обследований.</h3>
          {% endfor %}
          </ul>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="model-detail__title">Углубленные медецинские обследования:</h2>
          <a class="model-detail__add" href="umo/">Добавить обследование <i class="fas fa-plus"></i></a>
          <ul class="model-detail__ul">
          {% for i in umo %}
          <li>
            <a href="#">
              <h3>{{ i.stage }} - {{ i.date }}</h3>
            </a>
          </li>
          {% empty %}
            <h3>Нет обследований.</h3>
          {% endfor %}
        </ul>
        </div>
      </div>

     </div>
    </div>
  </div>
</main>
{% endblock content %}
