{% extends "base.html" %}


{% block title %}Спортсмены{% endblock title %}

{% block bar-left %}
<div class="title">
  <h1>Список спортсменов</h1>
</div>
{% endblock bar-left %}

{% block bar-right %}

  {% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
          <a class="pagination__link" href="{% url 'sportsman-list' %}?page={{ page_obj.previous_page_number }}">
            <i class="fas fa-arrow-circle-left"></i>
          </a>
        {% endif %}
        <span class="pagination__current">
          {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
          <a class="pagination__link" href="{% url 'sportsman-list' %}?page={{ page_obj.next_page_number }}">
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        {% endif %}
    </div>
  {% endif %}

{% endblock bar-right %}


{% block content %}
<main>
  <div class="table-wrap">
    <table class="table">
      <thead>
        <th class="table__create">
          <!--
          <a href="{% url 'sportsman-create' %}" class="icon__create-table"><i class="fas fa-plus"></i></a>
        -->
        <div class="table__icon-wrap">
          <a href="{% url 'sportsman-create' %}" title="Создать элемент">
            <img src="../../../static/images/svg/add_box-24px.svg" alt="">
          </a>
        </div>
        </th>
        <th>ФИО</th>
        <th>Дата рождения</th>
        <th>Умение плавать</th>
        <th>Оценки в школе</th>
        <th>Желание</th>
        <th>Спортивное учереждение</th>
        <th>Вид спорта</th>
      </thead>
      <tbody>
        {% for i in object_list %}
          <tr class="col-md-7">
            <th>
              <div class="table__icon-wrap">
                <a href="{{ i.pk }}/delete/" title="Удалить элемент">
                  <img src="../../../static/images/svg/delete-24px.svg" alt="">
                </a>
                <a href="{{ i.pk }}/" title="Информация">
                  <img src="../../../static/images/svg/description-24px.svg" alt="">
                </a>
                <a href="{{ i.pk }}/update/" title="Редактировать элемент">
                  <img src="../../../static/images/svg/create-24px.svg" alt="">
                </a>
              </div>
            </th>
            <td>{{ i.surname | default:""}} {{ i.name | default:""}} {{ i.patronymic | default:""}}</td>
            <td>{{ i.date_of_birth | default:""  }}</td>
            <td>{{ i.swimming_skills | default:"" | yesno:"Есть,Нет" }}</td>
            <td>{{ i.school_progress | default:""  }}</td>
            <td>{{ i.sport_desire | default:"" | yesno:"Есть,Нет" }}</td>
            <td>{{ i.sports_facility | default:"" }}</td>
            <td>{{ i.sport_type | default:"" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock content %}

