{% extends "base.html" %}

{% block title %}Тренера{% endblock title %}

{% block bar-left %}
<div class="title">
  <h1>Список спортсменов</h1>
</div>
{% endblock bar-left %}

{% block bar-right %}

  {% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
          <a class="pagination__link" href="{% url 'sportsman-list' %}?page={{ page_obj.previous_page_number }}">
            <i class="fas fa-arrow-circle-left"></i>
          </a>
        {% endif %}
        <span class="pagination__current">
          {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
          <a class="pagination__link" href="{% url 'sportsman-list' %}?page={{ page_obj.next_page_number }}">
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        {% endif %}
    </div>
  {% endif %}

{% endblock bar-right %}

{% block content %}
<main>
  <div class="table-wrap">
    <table class="table">
      <thead>
        <th>
          <a href="{% url 'coach-create' %}" class="icon__create">Создать <i class="fas fa-plus"></i></a>
        </th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Телефон</th>
        <th>Вид спорта</th>
      </thead>
      <tbody>
        {% for i in object_list %}
        <tr class="col-md-7">
          <th>
            <a href="{{ i.pk }}/delete/" class="table__icon icon__delete"><i class="fas fa-trash-alt"></i></a>
            <a href="{{ i.pk }}/update/" class="table__icon icon__update"><i class="fas fa-pencil-alt"></i></a>
            <a href="{{ i.pk }}/" class="table__icon icon__detail"><i class="fas fa-info-circle"></i></a>
          </th>
          <td>{{ i.surname }}</td>
          <td>{{ i.name }}</td>
          <td>{{ i.patronymic }}</td>
          <td>{{ i.telephone }}</td>
          <td>{{ i.sport_type }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock content %}
