{% extends "base.html" %}

{% block title %}Рейтинг{% endblock title %}

{% block bar-left %}
<div class="title">
  <h1>Рейтинг</h1>
</div>
{% endblock bar-left %}

{% block bar-right %}
<a href="../" class="btn">
  Назад
</a>
{% endblock bar-right %}

{% block content %}
<main>
  <div class="form-wrap">
    <div class="wrap-one">
      <div class="container">
          {% for i in items %}
          <p>{{i.sportsman_id}} {{ i.rating }} {{ i.name }} {{ i.surname }} {{ i.patronymic }}</p>
          {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock content %}
