{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block bar-left %}
<div class="title">
  <h1>{{ title }}</h1>
</div>
{% endblock bar-left %}

{% block bar-right %}
<a href="../" class="btn">
  Назад
</a>
{% endblock bar-right %}

{% block content %}
<main>
  <!--
  <div class="form-wrap">
    <div class="wrap-one">
      <div class="container">
          {% for i in items %}
          <p>{{forloop.counter}}. {{i.sportsman_id}} {{ i.rating }} {{ i.name }} {{ i.surname }} {{ i.patronymic }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  -->

    <div class="table-wrap">
    <table class="table">
      <thead>
        <th class="table__create">
        </th>
        <th>№</th>
        <th>Id</th>
        <th>Рейтинг</th>
        <th>ФИО</th>
      </thead>
      <tbody>
        {% for i in items %}

        {% if forloop.counter == 1 %}

        <tr class="col-md-7" style="background-color: #59f983!important;">
          <th>
              <div class="table__icon-wrap">
                <a href="/registry/sportsman/{{i.sportsman_id}}" title="Перейти к спортсмену">
                  <img src="../../../static/images/svg/person-24px.svg" alt="">
                </a>
                </a>
              </div>
            </th>
          <td>{{forloop.counter}}</td>
          <td>{{i.sportsman_id}}</td>

          <td><strong>{{ i.rating }}</strong></td>

          <td>{{ i.surname }} {{ i.name }} {{ i.patronymic }}</td>
        </tr>

        {% elif forloop.counter == 2 %}

        <tr class="col-md-7" style="background-color: #59f983!important;">
          <th>
              <div class="table__icon-wrap">
                <a href="/registry/sportsman/{{i.sportsman_id}}" title="Перейти к спортсмену">
                  <img src="../../../static/images/svg/person-24px.svg" alt="">
                </a>
                </a>
              </div>
            </th>
          </th>
          <td>{{forloop.counter}}</td>
          <td>{{i.sportsman_id}}</td>

          <td><strong>{{ i.rating }}</strong></td>

          <td>{{ i.surname }} {{ i.name }} {{ i.patronymic }}</td>
          </tr>

          {% elif forloop.counter == 3 %}

          <tr class="col-md-7" style="background-color: #f7f959!important;">
            <th>
              <div class="table__icon-wrap">
                <a href="/registry/sportsman/{{i.sportsman_id}}" title="Перейти к спортсмену">
                  <img src="../../../static/images/svg/person-24px.svg" alt="">
                </a>
                </a>
              </div>
            </th>
            <td>{{forloop.counter}}</td>
            <td>{{i.sportsman_id}}</td>

            <td><strong>{{ i.rating }}</strong></td>

            <td>{{ i.surname }} {{ i.name }} {{ i.patronymic }}</td>
          </tr>
          {% elif forloop.counter == 4 %}

          <tr class="col-md-7" style="background-color: #f7f959!important;">
            <th>
              <div class="table__icon-wrap">
                <a href="/registry/sportsman/{{i.sportsman_id}}" title="Перейти к спортсмену">
                  <img src="../../../static/images/svg/person-24px.svg" alt="">
                </a>
                </a>
              </div>
            </th>
            <td>{{forloop.counter}}</td>
            <td>{{i.sportsman_id}}</td>

            <td><strong>{{ i.rating }}</strong></td>

            <td>{{ i.surname }} {{ i.name }} {{ i.patronymic }}</td>
          </tr>
          {% else %}

          <tr class="col-md-7"  style="background-color: #ff000052!important;">
            <th>
              <div class="table__icon-wrap">
                <a href="/registry/sportsman/{{i.sportsman_id}}" title="Перейти к спортсмену">
                  <img src="../../../static/images/svg/person-24px.svg" alt="">
                </a>
                </a>
              </div>
            </th>

            <td>{{forloop.counter}}</td>
            <td>{{i.sportsman_id}}</td>

            <td><strong>{{ i.rating }}</strong></td>

            <td>{{ i.surname }} {{ i.name }} {{ i.patronymic }}</td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock content %}
