{% extends "base.html" %}

{% block title %}Главная{% endblock title %}

{% block content %}
<main>
    <div class="form-wrap">
        <div class="wrap-one">
          <div class="container">
        <h1>Главная страница реестра</h1>


        {% if user.groups %}
          <h1>Пользователь состоит в группе:</h1>

          {% for g in user.groups.all %}
          <ul>
            {{ g }}
          </ul>
          {% endfor %}
        {% endif %}


      </div>
    </div>
  </div>
</main>
{% endblock content %}
