{% extends "base.html" %}

{% block title %}Главная{% endblock title %}

{% block content %}
<main>
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-md-7">
        <h1>Главная страница реестра</h1>
      </div>

      <div class="col-md-7">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro repudiandae cumque error saepe id. Illo esse nisi omnis at quos distinctio perspiciatis nihil beatae deleniti sapiente, vitae eos voluptatem facere?
      </div>
      <div class="col-md-7">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro repudiandae cumque error saepe id. Illo esse nisi omnis at quos distinctio perspiciatis nihil beatae deleniti sapiente, vitae eos voluptatem facere?
      </div>
      <div class="col-md-7">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro repudiandae cumque error saepe id. Illo esse nisi omnis at quos distinctio perspiciatis nihil beatae deleniti sapiente, vitae eos voluptatem facere?
      </div>
      <div class="col-md-7">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi inventore consequuntur expedita placeat quaerat cupiditate eligendi praesentium aspernatur fuga. Dolor inventore quod saepe tempore sint repudiandae nostrum, suscipit nesciunt eaque rem temporibus accusantium placeat laboriosam vero, quam magnam ipsam eius, eum assumenda ratione nobis velit vel? Sint placeat autem dolore voluptatem reprehenderit eligendi expedita aliquam corrupti totam repudiandae ab quae animi esse harum tempora, facilis ipsa perspiciatis culpa enim molestias!
      </div>
      <div class="col-md-7">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi inventore consequuntur expedita placeat quaerat cupiditate eligendi praesentium aspernatur fuga. Dolor inventore quod saepe tempore sint repudiandae nostrum, suscipit nesciunt eaque rem temporibus accusantium placeat laboriosam vero, quam magnam ipsam eius, eum assumenda ratione nobis velit vel? Sint placeat autem dolore voluptatem reprehenderit eligendi expedita aliquam corrupti totam repudiandae ab quae animi esse harum tempora, facilis ipsa perspiciatis culpa enim molestias!
      </div>
      <div class="col-md-7">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi inventore consequuntur expedita placeat quaerat cupiditate eligendi praesentium aspernatur fuga. Dolor inventore quod saepe tempore sint repudiandae nostrum, suscipit nesciunt eaque rem temporibus accusantium placeat laboriosam vero, quam magnam ipsam eius, eum assumenda ratione nobis velit vel? Sint placeat autem dolore voluptatem reprehenderit eligendi expedita aliquam corrupti totam repudiandae ab quae animi esse harum tempora, facilis ipsa perspiciatis culpa enim molestias!
      </div>
      <div class="col-md-7">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro repudiandae cumque error saepe id. Illo esse nisi omnis at quos distinctio perspiciatis nihil beatae deleniti sapiente, vitae eos voluptatem facere?
      </div>
      <div class="col-md-7">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro repudiandae cumque error saepe id. Illo esse nisi omnis at quos distinctio perspiciatis nihil beatae deleniti sapiente, vitae eos voluptatem facere?
      </div>
      <div class="col-md-7">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro repudiandae cumque error saepe id. Illo esse nisi omnis at quos distinctio perspiciatis nihil beatae deleniti sapiente, vitae eos voluptatem facere?
      </div>
      <div class="col-md-7">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi inventore consequuntur expedita placeat quaerat cupiditate eligendi praesentium aspernatur fuga. Dolor inventore quod saepe tempore sint repudiandae nostrum, suscipit nesciunt eaque rem temporibus accusantium placeat laboriosam vero, quam magnam ipsam eius, eum assumenda ratione nobis velit vel? Sint placeat autem dolore voluptatem reprehenderit eligendi expedita aliquam corrupti totam repudiandae ab quae animi esse harum tempora, facilis ipsa perspiciatis culpa enim molestias!
      </div>
      <div class="col-md-7">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi inventore consequuntur expedita placeat quaerat cupiditate eligendi praesentium aspernatur fuga. Dolor inventore quod saepe tempore sint repudiandae nostrum, suscipit nesciunt eaque rem temporibus accusantium placeat laboriosam vero, quam magnam ipsam eius, eum assumenda ratione nobis velit vel? Sint placeat autem dolore voluptatem reprehenderit eligendi expedita aliquam corrupti totam repudiandae ab quae animi esse harum tempora, facilis ipsa perspiciatis culpa enim molestias!
      </div>
      <div class="col-md-7">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi inventore consequuntur expedita placeat quaerat cupiditate eligendi praesentium aspernatur fuga. Dolor inventore quod saepe tempore sint repudiandae nostrum, suscipit nesciunt eaque rem temporibus accusantium placeat laboriosam vero, quam magnam ipsam eius, eum assumenda ratione nobis velit vel? Sint placeat autem dolore voluptatem reprehenderit eligendi expedita aliquam corrupti totam repudiandae ab quae animi esse harum tempora, facilis ipsa perspiciatis culpa enim molestias!
      </div>
    </div>
  </div>
</main>
{% endblock content %}
