{% extends "empty.html" %}

{% block content %}
<main>
  <div class="container-fluid">
    <div class="row justify-content-around">
      {% for i in object_list %}
      <div class="col-md-7">
        <a href="{{ i.pk }}">{{ i.name }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-5">
        {% if is_paginated %}
        <div class="pagination">
          <span class="page-links">
            {% if page_obj.has_previous %}
              <a href="{% url 'book-list' %}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="book-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
              <a href="{% url 'book-list' %}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
          </span>
        </div>
      {% else %}
        <h3>My Cars</h3>
        <p>No cars found!!! :(</p>
      {% endif %}
    </div>
  </div>
</main>
{% endblock content %}
