{% extends "base.html" %}

{% block title %}Виды спорта{% endblock title %}

{% block content %}
<main>
  <div class="container">

    <div class="row">
      <div class="col-md-10">
        <table class="table">
          <thead>
            <th>
              <a href="{% url 'sport-type-create' %}" class="icon__create"><i class="fas fa-plus"></i></a>
            </th>
            <th>Название</th>
          </thead>
          <tbody>
            {% for i in object_list %}
            <tr class="col-md-7">
              <th>
                <a href="{{ i.pk }}/delete/" class="table__icon icon__delete"><i class="fas fa-trash-alt"></i></a>
                <a href="{{ i.pk }}/update/" class="table__icon icon__update"><i class="fas fa-pencil-alt"></i></a>
                <a href="{{ i.pk }}/" class="table__icon icon__detail"><i class="fas fa-info-circle"></i></a>
              </th>
              <td>{{ i.name }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
              {% if page_obj.has_previous %}
                <a href="{% url 'SportType-list' %}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="book-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                <a href="{% url 'SportType-list' %}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
        {% endif %}
      </div>
    </div>

  </div>
</main>
{% endblock content %}
