.model-detail
  padding: 3rem
  &__title
    font-size: 2.2rem
    margin: 0
  &__field
    font-size: 1.6rem
  &__add
    color: $success
    font-size: 1.4rem
    font-weight: bold
    &:hover
      color: lighten($success, 10%)
      text-decoration: none
  &__ul
    list-style: none
    li
      a
        font-size: 1.4rem
        color: gray
        &:hover
          text-decoration: none
