.model-detail
  padding: 3rem
  &__title
    font-size: 2.2rem
    margin: 0
  &__field
    font-size: 1.6rem
  &__add
    color: $success
    font-size: 1.4rem
    font-weight: bold
    &:hover
      color: lighten($success, 10%)
      text-decoration: none
  &__ul
    list-style: none
    li
      a
        font-size: 1.4rem
        color: gray
        &:hover
          text-decoration: none

.sportsman
  &__wrap
    border-radius: 5px
    background-color: white
    margin-top: 5rem
    box-shadow: 0 0 30px rgba(0, 0, 0, .3)

    &-list
      padding: 3rem 3rem
      text-align: center
    &-info
      padding: 3rem 0
    &-avatar
      padding: 3rem 0
      text-align: center

  &__name
    font-size: 2rem
    margin-top: 1rem
    color: $left-menu-bgc
  &__field
    font-size: 1.6rem
    color: lighten($left-menu-bgc, 5%)
    span
      font-weight: bold
      color: $left-menu-bgc


  &__img
    width: 100%
    margin: 0 auto
    img
      width: 40%
