.left-menu
  background-color: $left-menu-bgc
  box-shadow: inset 0 0 20px rgba(0,0,0, 0.2)
  border: 4px solid $left-menu-hover

  .user

    width: 100%
    text-align: center
    padding: 2rem 0
    font-size: 1.3rem
    &__name
    &__email
      font-size: 1.1rem

  ul
    padding: 0
    margin: 0
    li
      a
        transition: .2s
        display: block
        padding: .5rem 1rem
        font-size: 1.6rem
        color: white
        width: 100%
        &:hover
          transform: scale(1.05)
          text-decoration: none
          background-color: $left-menu-hover
