.left-menu
  ul
    padding: 0
    margin: 0
    li
      a
        transition: .2s
        display: block
        padding: .5rem 1rem
        font-size: 1.6rem
        color: white
        width: 100%
        &:hover
          text-decoration: none
          background-color: gray
