.table-wrap
  width: 100%
  padding: 3rem 0
  height: calc(100vh - 5.7rem)
  overflow: scroll
  glyph-orientation-vertical: auto
  background-color: $light-accent
.table
  box-shadow: 0 0 10px gray
  margin: 0 1rem

  font-size: 1.4rem
  border-collapse: collapse
  border-radius: 5px 5px 0 0
  overflow: hidden
  thead
    font-size: 1.8rem
    tr
      background-color: $table-head
      color: white
      font-weight: bold
      text-align: left
      font-size: 1.4rem
  th, td
    padding: 1.2rem 1.5rem
    white-space: nowrap
  tbody
    tr
      background-color: white
      border-bottom: 1px solid #dddddd
      &:nth-of-type(even)
        background-color: #f3f3f3
      &:last-of-type
        border-bottom: 2px solid $table-head
  &__icon-wrap
    display: flex
    font-size: 2rem
    flex-direction: row-reverse
    a
      margin: 0 .5rem

