.table-wrap
  width: 100%
  height: calc(100vh - 5.7rem)
  overflow: scroll
  glyph-orientation-vertical: auto

.table
  width: 100%
  box-shadow: 0 0 1px gray
  font-size: 1.4rem
  border-collapse: collapse
  overflow: hidden
  &__create
    text-align: center
  thead
    font-size: 1.8rem
    tr
      background-color: #fff
      color: #111
      font-weight: normal
      text-align: left
      font-size: 1.4rem
      height: 30px
  th, td
    padding: 1.5rem 1.5rem
    white-space: nowrap
  tbody
    tr
      background-color: white
      border-bottom: 1px solid #dddddd
      &:hover
        background-color: #d4d4d4
        transition: .2s
      &:nth-of-type(even)

      &:hover
        background-color: #d4d4d4
        transition: .2s
      &:last-of-type
        border-bottom: 2px solid $table-head
  &__icon-wrap
    display: flex
    font-size: 2rem
    flex-direction: row
    justify-content: center
    img
      padding: 0.6rem 0.6rem
    a
      padding: 0.6rem 0.6rem
      display: block
      border-radius: 50%
      transition: .3s
      &:hover
        background-color: #b7b7b7
        border-radius: 50%
        transition: .2s
