{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}


<div class="container" ыен>
  <div class="row mh100vh justify-content-center align-items-center">

    {% if user.is_authenticated %}

    <div class="col-md-8">

      <div class="auth-wrap">
        <h1 class="auth-wrap__title">
          {{ user.last_name }} {{ user.first_name }}, <br>
          вы успешно авторизированы.<br>
          <a href="{% url 'registry' %}">Перейти к реестру</a><br>
          <a href="{% url 'logout' %}">Завершить сессию</a>
        </h1>
        {% if user.groups %}
        <h1>Пользователь состоит в группе:</h1>

        {% for g in user.groups.all %}
        <ul>
          {{ g }}
        </ul>
        {% endfor %}
      {% endif %}
      </div>
    </div>

    {% else %}

    <div class="col-md-5">
      <div class="auth-wrap">
        <form class="form-model" action="" method="POST">
          {% csrf_token %}
          {% load widget_tweaks %}

          <div class="auth-wrap__title">
            <h1>Форма Авторизации</h1>
          </div>

          <div class="auth-wrap__field-wrap">
            <label class="auth-wrap__label" for="id_username">
              Логин:
            </label>
            {{ form.username|add_class:"auth-wrap__field" }}
          </div>

          <div class="auth-wrap__field-wrap">
            <label class="auth-wrap__label" for="id_username">
              Пароль:
            </label>
            {{ form.password|add_class:"auth-wrap__field" }}
          </div>

          <div class="auth-wrap__btns">
            <input class="btn btn-second" type="submit" value="Войти">
          </div>
        </form>
      </div>
    </div>

    {% endif %}
  </div>
</div>




{% endblock %}
