{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>{% block title %}{% endblock title %}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

  <header class="header">

    <div class="offer">
      <h1 class="offer__title">
        СПОРТИВНЫЙ ОТБОР И ОРИЕНТАЦИЯ В
        ЦИКЛИЧЕСКИХ ВИДАХ СПОРТА
      </h1>
      <h3 class="offer__subtitle">
          Cистема спортивного отбора и ориентации в циклических видах спорта
      </h3>
      <div class="offer__btns">
        <a href="{% url 'login' %}" class="btn offer__btn-accent">
          Начать работу
        </a>
      </div>
    </div>

  </header>
  <main class="main">

  </main>
  <footer class="footer">

  </footer>
  <script src="{% static 'js/vendor.js' %} "></script>
  <script src="{% static 'js/script.js' %} "></script>
</body>
</html>
