{% extends "base.html" %}

{% block title %}Добавить Анкету{% endblock title %}

{% block content %}
<main>
  <div class="form-wrap">
      <div class="wrap-one">
        <div class="container">
          <form class="form-model" action="" method="POST">
            {% csrf_token %}
            {% load widget_tweaks %}

            <h1 class="form-model__title">Анкета первичного обследования:</h2>

            <h2 class="form-model__subtitle">Общая информация</h2>
            <h2 class="form-model__subtitle">Общая информация</h2>
            <h2 class="form-model__subtitle">Общая информация</h2>
            <h2 class="form-model__subtitle">Общая информация</h2>


          </form>
        </div>
      </div>
    </div>
</main>
{% endblock content %}
