{% extends "base.html" %}

{% block title %}Добавить Анкету{% endblock title %}

{% block content %}
<main>
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-md-7">
        <form class="form-model" action="" method="POST">
          {% csrf_token %}
          {% load widget_tweaks %}



          {% for field in form.visible_fields %}
            <div class="form-model__field-wrap">
              {{ field.errors }}
              {{ field|add_label_class:"form-model__label" }}
              {{ field|add_class:"form-model__field" }}
            </div>
          {% endfor %}

          <div class="form-model__btn-box">
            <input class="btn btn-succes" type="submit" value="Сохранить">
            <a class="btn btn-second" href="../">Назад</a>
          </div>

        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
